PROJECT_PATH=/home/rstudio/project
UPLOAD_PATH=/home/rstudio/project/Data/speech_recorder_uploads
EMUDB_SESSIONS=<base64-encoded JSON array of session objects, use tools/base64encode.sh>
WRITE_META_JSON=false
FILE_PATH=/container-agent/tools/wavs
